*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;  
  background-color: black;
}

h1{
  margin-top: 20px;
  color: #a85662;
}

#resultImg {
  width: 70%;
  height: 40vh;
  margin-top: 20px;
  border: 5px solid #40171d;
}

#resultDiv{
  width: 100%;
  height: 7vh;
  margin-top: 3%;
  color: #a85662;
  font-size: 25px;
  font-weight: bolder;
}

.compFortuneBtns{
  width: 100%;
  height: 6vh;
  margin: 15px auto;
}

.compFortuneBtns button{    
  background-color: #a85662;
  border: 1px solid black;
  font-weight: bolder;
  width: 15%;
  height: 100%;
  border-radius: 5px;
  font-size: 15px;
}

.userQuotes{  
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 17vh;
}

form{
  width: 80%;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
}

#quote {
  width: 70%;
  height: 50%;
}

form button{
  padding: 8px;
  background-color: #a85662;
  font-weight: bold;
}

#newUserQuote{
  width: 100%;
  height: 50%;
  margin-bottom: 2%;
}

h2{
  color: #a85662;
  text-decoration: underline;
}

#quoteList{
  width: 100%;
  height: auto;
  margin-top: 1%;
}

#quoteList li{
  color: #a85662;
  margin-bottom: 2%;
  list-style: none;
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
}

#quoteList button{
  margin-left: 1%;
  background-color: #a85662;
  padding: 2px;
  border-radius: 10%;
  font-weight: bold;
  margin-right: 20px;
}

input [type=checkbox]{
  width: 20px;
} 

.userQuotes p{
  margin-top: 2%;
  font-size: 30px;
  color: #a85662;
}

#ratings{
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: center;
  margin-top: 30px;
  font-size: 20px;
  color: #a85662;
}

#siteRating{
  font-size: 30px;
}

.ratingBtns button{
  background-color: #a85662;
  padding: 3px;
  margin-left: 2px;
  border-radius: 5px;
  width: 25px;
  font-weight: bolder;
}